module.exports = {
  reactStrictMode: true,
  env: {
    FIREBASE_API_KEY: '...',
    FIREBASE_AUTH_DOMAIN: '...',
    FIREBASE_PROJECT_ID: '...',
    FIREBASE_STORAGE_BUCKET: '...',
    FIREBASE_MSG_SENDER_ID: '...',
    FIREBASE_APP_ID: '...',
  },
}